@using Math.Solver.Core.Equations.QuadraticEquation
@using Math.Solver.Core.Model.Equations.QuadraticEquation
@{
    ViewBag.Title = "Home Page";
    var solver = new QuadraticEquationSolver();
    var param = new QuadraticEquationParameters()
    {
        A = 2,
        B = 20,
        C = -22
    };
    var res = solver.Solve(param);
}

<div class="jumbotron">
   @foreach (var proc in res.Process)
   {
       <div>$@proc$</div>
   }
</div>